# Copyright (c) 2022 ETH Zurich
#
# SPDX-License-Identifier: BSL-1.0
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

name: Build and deploy docker images

# The builds are triggered with pushes on the 'main' branch or with a pull
# request against the 'main' branch
on:
  pull_request:
  push:
    branches: main

env:
  version: 1
  base_image_name: pika-ci-base
  hip_image_name: pika-ci-hip

jobs:

  # Build base and HIP docker images
  build_and_deploy:
    # Cannot use the env variables in the name
    name: Build and deploy images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      # The deploy step is only triggered on merge of the pull request
      - name: Build and deploy base image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile.base
          tags: ${{ secrets.DOCKER_USER }}/${{ env.base_image_name }}:latest,${{ secrets.DOCKER_USER }}/${{ env.base_image_name }}:${{ env.version }}
          push: ${{ contains(github.ref, 'main') }}
      - name: Build and deploy HIP image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile.hip
          tags: ${{ secrets.DOCKER_USER }}/${{ env.hip_image_name }}:latest,${{ secrets.DOCKER_USER }}/${{ env.hip_image_name }}:${{ env.version }}
          push: ${{ contains(github.ref, 'main') }}
