# Copyright (c) 2022 ETH Zurich
#
# SPDX-License-Identifier: BSL-1.0
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

name: Build and deploy docker images

# The builds are triggered with pushes on the 'main' branch or with a pull
# request against the 'main' branch
on:
  pull_request:
  push:
    branches: main

env:
  base_image_version: 13
  base_image_name: pika-ci-base
  hip_image_version: 6
  hip_image_name: pika-ci-hip

jobs:

  # Build base and HIP docker images
  build_and_deploy:
    name: Build and deploy images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}
      - name: Build base image
        uses: docker/build-push-action@v3
        with:
          file: Dockerfile.base
          tags: ${{ secrets.DOCKER_USER }}/${{ env.base_image_name }}:latest,${{ secrets.DOCKER_USER }}/${{ env.base_image_name }}:${{ env.base_image_version }}
          load: true
      - name: Push base image
        uses: docker/build-push-action@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          file: Dockerfile.base
          tags: ${{ secrets.DOCKER_USER }}/${{ env.base_image_name }}:latest,${{ secrets.DOCKER_USER }}/${{ env.base_image_name }}:${{ env.base_image_version }}
          push: true
      - name: Build and deploy HIP image
        uses: docker/build-push-action@v3
        with:
          file: Dockerfile.hip
          build-args: BASE_IMAGE=${{ secrets.DOCKER_USER }}/${{ env.base_image_name }}:${{ env.base_image_version }}
          tags: ${{ secrets.DOCKER_USER }}/${{ env.hip_image_name }}:latest,${{ secrets.DOCKER_USER }}/${{ env.hip_image_name }}:${{ env.hip_image_version }}
          push: ${{ github.ref == 'refs/heads/main' }}
